<div class="row">
  <div class="twelve column center">
    <h1 class="logo">Vox Pupuli Open Pull-Requests</h1>
  </div>
</div>

<div class="row">
  <div class="twelve column center">
    <p>
      This is a basic Sinatra app that fetches the current open pull-requests on Vox Pupuli.
    </p>
    <a class="button" href="/pulls">
      Lets go!
      <img class="button-github" src="/images/GitHub-Mark-32px.png">
    </a>
  </div>
</div>

<div class="row">
  <div class="twelve colunm center">
    <footer>
      <a href="/about">about this app</a>
    </footer>
  </div>
</div>
