<div class="row">
  <div class="twelve column center">
    <h1 class="logo">Vox Pupuli Open Pull-Requests</h1>
  </div>
</div>

<div class="row">
  <div class="twelve column center">
    <p>
      This is a basic Sinatra app that fetches the current open pull-requests on Vox Pupuli. We require GitHub OAuth to avoid hitting rate-limits. You will see in the OAuth page we only request access to public_repos, so none of your private data will be used.
    </p>
    <a class="button" href="/auth">
      Login from GitHub
      <img class="button-github" src="/images/GitHub-Mark-32px.png">
    </a>
  </div>
</div>

<div class="row">
  <div class="twelve colunm center">
    <footer>
      <a href="/about">about this app</a>
    </footer>
  </div>
</div>
